.container{
    border: 2px solid black;
    background-color: antiquewhite;
    width: 96vw;
    height: 91vh;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.box{
    border: 2px solid black;
    background-color: aqua;
    width: 100px;
    height: 70px;
    margin: 10px;
    padding: 10px;
}
