nav{
    width: 96vw;
    /* height: 30px; */
    background-color: antiquewhite;
    display: flex;
    border: 2px solid black;
    padding: 10px;
    justify-content: space-between;
}

.box{
    /* border: 1px solid black; */
    /* background-color: aqua; */
    padding: 5px;
    margin: 5px;
    width: 50rem;
}

#box2{
    display: flex;
    justify-content: flex-end;
    padding-right: 35px;
}

.links{
    margin-left: 30px;
    border: 0.7px dashed black;
    padding: 0px 15px;
}